/( Task 1 )index.html
/.vscode
/Mid Revision 2.html
/Mid Revision.html
/photo.png
/Sec 1 Web.html
/Sec 2 .html
/Sec 4.html
/style.css
/Untitled-1.cpp
/Untitled-1.html
/Untitled-2.html
/Untitled-3.html
/Untitled-6.html
/Untitled-99.cpp